{% extends "base.html" %}
{% load humanize %}
{% block body %}
    <h1>Published Articles</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                {% for article in article_list|slice:":50" %}
                    <li>{{ article.title }} by {{ article.author }} | Published: {{ article.is_published|yesno }}</li>
                {% endfor %}
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Genre</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for genre, total in totals.items %}
                        <tr>
                            <td>{{ genre }}</td>
                            <td>{{ total|intcomma }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}